body {
  background:#eee;
  font-size:13px;
  font-weight:100;
  font-family:"Avenir Next", Roboto, "Open Sans", sans-serif
;
}

#container {
  width:990px;
  margin:0 auto;
  -webkit-box-shadow: 0px 0px 32px 3px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px 0px 32px 3px rgba(0,0,0,0.75);
  box-shadow: 0px 0px 32px 3px rgba(0,0,0,0.75);
}

.secondary {
  background:#1667a1;
  color:white;
  display:flex;
  justify-content:space-between;
  height:36px;
}

.secondary a{
  color:white;
  text-decoration:none;
}

.profile {
  display:flex;
  list-style:none;
  padding-left:0;
  height:36px;
  margin-top:0;
}
.profile li {
  height:36px;
  line-height:36px;
  margin:0 5px;
}

.profile li:first-child a {
  border-left:none;
}
.profile li a {
  border-left:1px solid white;
  padding-left:8px;
}
.store i {
  font-size:28px;
  padding-top:5px;
  float:left;
  margin-right:10px;
}

.store-location {
  font-weight:bold;
  position:relative;
  top:3px;
}

.cart {
  line-height:36px;
  margin-right:10px;
}

.cart i {
  font-size:28px;
  line-height:36px;
}
.basket {
  position:relative;
  top:-5px;
}

#top-banner {
	height: 40px;
}

.logobanner {
	list-style: none;
	height: inherit;
	display: flex;
	justify-content: space-between;

}
.logobanner li:first-child a {
	color:#1667a1;
	font-weight: bold;
	font-size: 30px;
}
.logobanner li a {
	text-decoration: none;
}


.same-day-pickup {
	font-weight: 700;
	font-size: 16px;
	color: #1667a1;
}

.pickup-items {
	color: black;
}

.pickup-details {
	color: black;
	font-weight: bold;
}

.products {
	display: table-cell;
	padding-top: 15px;
	text-align: center;
	list-style: none;
	background: #5f564f;
	display: flex;
	flex-direction: row;
}

.products li a {
	color: white;
	border-left:0.1px solid white;
	padding-left:8px;
	text-decoration: none;
}

.sale-options {
	list-style: none;
	font-weight: 400px;
	color: white;
	display: flex;
	justify-content: space-between;
}

.sale-options a {
	font-weight: bold;
	padding-right: 40px;
	text-decoration: none;
}

.sale-label {
	color:#5f564f;
}

.sale {
	color: #e75d52;
}

#shop-now-sale {
	height: 40px;
	background-image: url("images/redbackground.jpg")
}

.shop-now-list ul {
	font-weight: 400px;
	display: flex;
	justify-content: center;
}

.shop-now-list li {
	padding-left: 15px;
	padding-top: 8px;
	list-style: none;
	color: white;
	font-size: 16px;
	font-weight: bold;
}

#lower-breadcrumb {
	height: 40px;
}

.breadcrumb a {
	text-decoration: none;
	border-bottom: 1px solid #1c84ce;
	color: #1667a1;
}

#lower-breadcrumb span {
	font-size: 15px;
	line-height: 36px;
	margin-left: 10px;
	padding-right: 2px;
}

#chair-details{
	display: flex;
}

.chair-info {
	display: flex;
	flex-direction: column;
}

#chair-details div{
	padding: 16px;
	border: 0.5px solid gray;
}

.chair-heading{
	font-weight: 400;
	font-size: 29px;
	margin-bottom: 7px;
}

#chair-details div p{
	font-size: 14px;
	font-weight: 400;
	line-height: 20px;
}

#chair-details div a{
	padding-left: 3px;
	text-decoration: none;

}

.sale-price{
	color: red;
	font-size: 24px;
	font-weight: 400;
}

.reg-price{
	color: gray;
	font-size: 14px;
	font-weight: 400;
}
 
.product-number{
	color: gray;
	font-size: 16px;
	font-weight: 400;
	line-height: 24px;
	margin-bottom: 8px;
}
 
.shipping-label{
	color: red;
	font-size: 16px;
	font-weight: 700;
	line-height: 24px;
}
 
.add-to-cart{
	padding: 6px;
	margin: 16px;
}
 
.details{
	font-size: 24px;
	border-bottom-style: solid;
	border-bottom-width: 1px;
	padding: 12px 0px;
}
 
.bayan-collect{
	color: blue;
	font-size: 18px;
	font-weight: 400;
	line-height: 24px;
}

#product-questions span{
	text-align: center;
	margin-right: 16px;
} 

#product-questions{
	display: flex;
	font-size: 18px;
}
